# MODULE **3**

1. What are data structures, and why are they important?
  - Data structures are a way to organize data so that it can be used by a computer program or system. They are a fundamental part of computer science and are important because they allow users to efficiently store, organize, and work with data.

2.Explain the difference between mutable and immutable data types with examples?
  - The main difference between mutable and immutable data types is that mutable data types can be changed after they are created, while immutable data types cannot:
  Example - In Python, mutable types (like lists, dictionaries) can be changed after creation, while immutable types (like strings, tuples) cannot be altered once defined, ensuring data integrity and safety.

3. What are the main differences between lists and tuples in Python?
   - Lists and tuples are both fundamental data structures in Python used to store collections of items. However, they have key differences:
Mutability:
* Lists: Mutable - You can modify their elements after creation (add, remove, change).
* Tuples: Immutable - You cannot modify their elements once created.

4. Describe how dictionaries store data ?
   - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

5. Why might you use a set instead of a list in Python ?
   - Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6. What is a string in Python, and how is it different from a list ?
   - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python through their key characteristic: immutability. This means that once a tuple is created, its elements cannot be modified, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores key-value pairs, allowing for efficient retrieval of values based on their keys. In Python, dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python ?
   - Yes, lists in Python can contain different data types. This is one of the key features that makes Python lists so versatile.

10. Explain why strings are immutable in Python ?
  - String is immutable in PYTHON to ensure security, thread safety, and simplify memory management by preventing its state from being changed once created.

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries offer several advantages over lists for certain tasks, including:
Fast lookups
Dictionaries use a hash table to store key-value pairs, which allows for very
 Fast lookups. This makes dictionaries ideal for tasks that require frequent lookups or searches.
* Easy to read -
Dictionaries make code much easier to read if you need to generate key:value pairs.
* Memory efficient -
Dictionaries only store the key-value pairs you need, so they can be used to store large amounts of data without taking up too much memory.
* Flexible -
Dictionaries can store any type of data as both the key and the value.
* Easy to modify -
Dictionaries are mutable and can be modified in place by adding, removing, or updating key-value pairs.

12. Describe a scenario where using a tuple would be preferable over a list?
  - Tuples are faster than lists. Tuples make the code safe from any accidental modification. If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.

13. How do sets handle duplicate values in Python ?
  - Sets in Python automatically handle duplicate values by ignoring them. When you create a set or add elements to it, Python ensures that only unique values are stored.
Here's an example:
my_set = {1, 2, 2, 3, 4, 4, 4}
print(my_set)
Output:  {1,2,3,4}
14. How does the “in” keyword work differently for lists and dictionaries?
   - The (in) operator for lists just checks equality with every element of the list.
   The (in) operator for dictionaries ( dict ) checks for the presence of a key. Use the values() and items() methods to test for the presence of values or key-value pairs.

15. Can you modify the elements of a tuple? Explain why or why not?
   - No, you cannot modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their contents cannot be changed; if you try to alter an element, you will receive a TypeError error.

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a collection of dictionaries within a single dictionary. It's a powerful tool for storing and organizing data with multiple layers. Some common use cases for nested dictionaries include:
* Employee records: Organize employees by department, with each employee's details in a nested dictionary.
* Inventory systems: Track product categories, subcategories, and individual product details.
* JSON data: Nested dictionaries naturally map to the structure of JSON data, making them essential for working with APIs and web services.
myfamily = { "child1" : { "name" : "Emil", "year" : 2004. }, "child2" : { "name" : "Tobias", "year" : 2007. }, "child3" : { "name" : "Linus", "year" : 2011. } }

17. Describe the time complexity of accessing elements in a dictionary?
   - The time complexity of accessing an element in a Python dictionary is O(1) on average. This means that the time it takes to retrieve an element is constant and doesn't depend on the dictionary's size.
However, in the worst case, the time complexity can be O(n) due to hash collisions. Hash collisions occur when multiple keys result in the same hash value. To handle these collisions, Python creates a linked list for the colliding entries, which can slow down the lookup process.

18. In what situations are lists preferred over dictionaries?
   - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
   - Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.
  - A dictionary can improve data retrieval by allowing for fast and efficient lookups and indexing of large datasets. For example, a dictionary can index a dataset based on key fields, allowing users to quickly search and retrieve data based on those keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
  - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# PRACTICAL QUESTIONS

In [2]:
# 1. Write a code to create a string with your name and print it?
Name = "Richi"
print(Name)
type(Name)

Richi

str

In [5]:
# 2. Write a code to find the length of the string "Hello World"
d = "Hello World"
print(d)
len(d)

Hello World

11

In [9]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Python Programming"
string[:3]

'Pyt'

In [22]:
# 4. Write a code to convert the string "hello" to uppercase?
text = 'hello'
text.upper()

'HELLO'

In [25]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
sen = "I like apple"
sen.replace("apple","orange")

'I like orange'

In [29]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [35]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
number = [1,2,3,4]
number.append(10)
number

[1, 2, 3, 4, 10]

In [37]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
num.remove(3)
num

[1, 2, 4, 5]

In [39]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

In [40]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]?
a = [10, 20, 30, 40, 50]
a[::-1]

[50, 40, 30, 20, 10]

In [64]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
r = (10,20,30)
print(r)
type(r)

(10, 20, 30)

tuple

In [44]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
d = ('apple', 'banana', 'cherry')
d[0]

'apple'

In [45]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
n = (1, 2, 3, 2, 4, 2)
n.count(2)

3

In [47]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
c = ('dog', 'cat', 'rabbit')
c.index("cat")

1

In [49]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
f =  ('apple', 'orange', 'banana')
'banana' in f

True

In [59]:
# 16. write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s = {1,2,3,4,5}
print(s)
type(s)

{1, 2, 3, 4, 5}

set

In [61]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s1 = {1,2,3,4}
s1.add(6)
s1

{1, 2, 3, 4, 6}

In [63]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
r = (10,20,30)
print(r)
type(r)

(10, 20, 30)

tuple

In [65]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
d = ('apple', 'banana', 'cherry')
d[0]

'apple'

In [66]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
n = (1, 2, 3, 2, 4, 2)
n.count(2)

3

In [67]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
c = ('dog', 'cat', 'rabbit')
c.index("cat")

1

In [68]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
f =  ('apple', 'orange', 'banana')
'banana' in f

True

In [69]:
# 23. write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s = {1,2,3,4,5}
print(s)
type(s)

{1, 2, 3, 4, 5}

set

In [70]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s1 = {1,2,3,4}
s1.add(6)
s1

{1, 2, 3, 4, 6}